<!DOCTYPE html>
<html ng-app="Application">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Bundles/Stylesheets")

    @Scripts.Render("~/Bundles/Jquery")
    @Scripts.Render("~/Bundles/Angular")
    @Scripts.Render("~/Bundles/Scripts")
    @Scripts.Render("~/Bundles/Application")
</head>
<body>
    @RenderBody()
</body>
</html>
